*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    padding: 1em;
}

.comment {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

.replies-list {
    padding-left: 1em;
}