*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    padding: 1em;
    max-width: 768px;
    width: 100%;
    margin-inline: auto;
}

.card-header {
    display: flex;
}

.content {
    width: 100%;
}

.actions {
    margin-left: auto;
}

.comment {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
}

.replies-list {
    padding-left: 1em;
}